<!DOCTYPE html>
<html>
  <head>
    <title>Mac Events Start-End Time Test</title>
    <style>
      body {
        font-size:medium;
      }

      table, th, td{
        border: 2px;
        text-align: center;
      }

      td {
        margin-bottom: 20px;
      }

      #description {
        max-width: 500px;
        font-size: 15px;
      }
    </style>
  </head>

  <body>
    <div>
      <table>
        <tr>
          <th>Title</th>
          <th>Place</th>
          <th>Time</th>
        </tr>
        {% for event in events %}
          <tr>
            <td id="title">{{ event.title }}</td>
            <td id="location">{{ event.location }}</td>
            <td id="time">{{ event.start_time }} - {{ event.end_time }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>>
  </body>
</html>